@page "/about"
<section>
	<h1>EdUnity</h1>
	<h2 id="introduction">About</h2>
	<p>EdUnity is a mobile application intended to help parents and the community stay up-to-date with important information and upcoming events related to the School. This document will serve as your guide to using EdUnity, outlining the features and navigation integrated into the application</p>
	<h2 id="navigation">Navigation</h2>
	<ol>
		<li>
			<p><strong>Home</strong>: The Home button on the navigation bar will take you back to the main screen of the application, which serves as the starting point for accessing all other features and functionalities.</p>
		</li>
		<li>
			<p><strong>Calendar</strong>: The Calendar button on the navigation bar will provide you with access to the school calendar, which will include important dates such as holidays, school events, and other activities.</p>
		</li>
		<li>
			<p><strong>Photos</strong>: The Photos button on the navigation bar will allow you to view and share photos related to the School. This feature will enable teachers and students to upload and share photos from school activities, events, and other important moments.</p>
		</li>
		<li>
			<p><strong>Athletics</strong>: The Athletics button on the navigation bar will provide you with information related to sports activities and events happening at the school. This feature will include schedules, results, and other related information.</p>
		</li>
		<li>
			<p><strong>Gradebook</strong>: The Gradebook button on the navigation bar will provide parents with access to their child&#39;s academic performance and progress. This feature will allow parents to view grades, assignments, and other related information.</p>
		</li>
		<li>
			<p><strong>Transportation</strong>: The Transportation button on the navigation bar will provide information related to school transportation services, including bus schedules, pick-up/drop-off locations, and other relevant details.</p>
		</li>
	</ol>
	<h2 id="installing-the-application">Installing the Application</h2>
	<p>The application is created using .NET 6, and can be downloaded directly from the App Store or Google Play Store. EdUnity’s app icon will appear as such on both app marketplaces:</p>
	<img src="img/edunity-transparent.png" alt="EdUnity" style="width:20%" />
	<h2 id="copyright-material-sources">Copyright Material Sources</h2>
	<p>The Creative Commons license for the application is an Attribution-NonCommercial: CC BY-NC. This license lets others tweak EdUnity non-commercially as the content of our application is publicly available and follows copyright compliance.</p>
	<p>All of the icons used in the app are from Font Awesome, a General Purpose License friendly database of commercially available icons. As well as this, all of the Mud Blazor Components used in our application are open source and free for commercial use.</p>
	<h2 id="app-project-description">App Project Description</h2>
	<p>EdUnity was made to facilitate the process of communication between the school and the community. The application consists of a collaborative calendar, method of sharing photos, information relating to sports activities, an integrated gradebook, and an interdependent transportation system for students to use together. The application was made using Blazor, a framework feature of ASP.NET for building interactive web UIs using C#. The differing pieces of code were written on Visual Studio and brought together using GitHub. The application was made to account for different devices, platforms, and capabilities, while integrating most of the features inside of the app → Social Media, Gradebook, Transportation. In the end, we created an application that could be used by students, teachers, and school administration all around the world to better the process of communication. </p>
	<div style="margin-top:3%" class="col d-flex justify-content-center">
		<a href="/profile" class="btn my-4" style="margin-right:5%;margin-left:5%;background-color: #a62639; color: white; border: none;">← Back</a>
	</div>
</section>