@inject IJSRuntime Js;
<div class="long-press-menu">
    <div @onclick="CreatePin">Carpool Request</div>
    <div style="border-left: thick groove white" @onclick="CloseCallback">
        <span class="fa fa-solid fa-circle-xmark" aria-hidden="true"/>
    </div>
</div>
@if (show)
{
    <div class="long-press-menu" style="margin-top:200px">
        <PinCreate Lat="@Lat" Lon="@Lon" Close="@Close"/>
    </div>
}
@code
{
    [Parameter] public double Lat { get; set; }
    [Parameter] public double Lon { get; set; }
    [Parameter] public Func<Task> CloseCallback { get; set; }
    [CascadingParameter] public IModalService Modal { get; set; }
    public bool show = false;
    private async Task CreatePin()
    {
        show = true;
        StateHasChanged();
    }
    private async Task Close()
    {
        show = false;
        StateHasChanged();
        CloseCallback();
    }
}