@page "/athletics"
@inject NavigationManager NavigationManager;

<NavMenu Title="@Title"/>

<section/>
<section>
    <p>hi</p>
</section>
<section />

@code {
    private string Title = "Athletics";
}
