@page "/athletics"
@inject NavigationManager NavigationManager;
<NavMenu Title="@Title"/>
<section/>
<section>
    <p>add here</p>
</section>
<section/>
@code
{
    private string Title = "Athletics";
}
