@page "/bugreport"
@inject NavigationManager NavigationManager;
@using System.Net
@using Microsoft.Extensions.Primitives
@using System.ComponentModel.DataAnnotations
@using System.Net.Http.Headers
@code
{
	public class PasswordModel
	{
		public string OldPassword { get; set; }
		public string NewPassword { get; set; }
		public string PasswordConfirm { get; set; }
		public bool ModelsIsNull()
		{
			return OldPassword == null || NewPassword == null || PasswordConfirm == null;
		}
	}
}
<NavMenu Title="@Title" />
<section/>
<section>
	<div class="form-outer">
		<img src="img/edunity-transparent.png" />
		<div style="margin-top:10%">
			<h4>Submit bug screenshot:</h4>
			<input style="margin-top:5%" type="file" accept="image/png, image/jpeg, image/jpg">
		</div>
		<div style="margin-top:10%" class="form-floating">
			<textarea class="form-control" placeholder="Leave a suggestion or bug report here!" id="floatingTextarea" style="height: 200px;"></textarea>
			<label for="floatingTextarea">Bug Report</label>
		</div>
		<div style="margin-top:5%" class="col d-flex justify-content-center">
			<a href="/profile" class="btn my-4" style="margin-right:5%;margin-left:5%;background-color: #a62639; color: white; border: none;">← Back</a>
			<button @onclick="Submit" class="btn my-4">Submit</button>
		</div>
		@if (!String.IsNullOrEmpty(resultMessage))
		{
			<div class="form-error-message">@resultMessage</div>
		}
	</div>
</section>
<section />
@code {
	private string Title = "Bug Reporting";
	private string resultMessage;
	public async void Submit()
	{
		resultMessage = "Thank you for your feedback!";
		await Task.Delay(2500);
		NavigationManager.NavigateTo("/home");
	}
}
