* {
    color: #511c29;
}

.month-nav {
    margin: 0 3em;
    padding: 0 1em;
    color:white;
    background-color: #511c29;
}

h4{
}

table {
    display: table;
    width: 100%;
    table-layout: fixed;
    border: 3px solid #511c29;
    border-radius: 20px;
}

th, td {
    display: table-cell;
}

th {
    border: solid #511c29 3px;
}

td {
    border: solid #511c29 1px;
}

td:hover {
    background-color: rgba(219, 50, 77, 0.2);
}

.day-header{
    font-weight: bold;
}