*
{
    color: #511c29;
}
.month-nav
{
    margin: 0 3em;
    padding: 0 1em;
    color: white;
    background-color: #511c29;
}
table
{
    display: table;
    width: 100%;
    table-layout: fixed;
    border: 3px solid #511c29;
    border-radius: 20px;
}
th, td
{
    display: table-cell;
}
th
{
    border: solid #511c29 3px;
}
td
{
    border: solid #511c29 1px;
}
.day-header
{
    font-weight: bold;
}
.active
{
    color: white;
    background-color: #a62639;
}
.list-group-item
{
    width: 30vw;
    margin: auto;
    color: white;
    margin-bottom: 1vh;
}
.list-group-item.active
{
    border: solid 2px white;
}
.event-dot
{
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
}