* {
    color: #511c29;
}

.month-nav {
    margin: 0 3em;
    padding: 0 1em;
    color:white;
    background-color: #511c29;
}

h4{
    text-align:center;
}

td:hover {
    background-color: rgba(219, 50, 77, 0.2);
    border-color: #511c29;
}
