@page "/login"
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager;
@using System.Net
@using Microsoft.Extensions.Primitives
<body style="font-weight:bold;">
    <div class="center-align-background" style="width:50%; margin-left:auto; margin-right:auto;">
        <div class="form-outer" style="min-width: 250px; max-width: 500px; margin-left:auto; margin-right:auto">
            <EditForm OnValidSubmit="@Submit">
                <DataAnnotationsValidator />
                <div class="form-input">
                    <label>Email</label>
                    <div>
                        <br />
                        <InputText style="width: 100%; box-sizing: border-box; font-family:'Courier New';font-weight:bold" id="email" placeholder="alice-smith@example.com" @bind-Value="Email" />
                    </div>
                </div>
                <br />
                <div class="form-input">
                    <label>Password</label>
                    <div>
                        <br />
                        <InputText style="width: 100%; box-sizing: border-box; font-family:'Courier New';font-weight:bold" id="password" placeholder="password" @bind-Value="Password" />
                    </div>
                </div>
                <div class="form-error">
                    <ValidationSummary />
                    @if (!String.IsNullOrEmpty(_resultMessage))
                    {
                        <div class="form-error-message"><br>@_resultMessage</div>
                    }
                </div>
                <br />
                <div class="centered-button-group" style="float:left">
                    <button type="submit" style="font-family:'Courier New';font-weight:bold">Sign In</button>
                </div>
            </EditForm>
            <EditForm OnValidSubmit="@Registration">
                <div class="centered-button-group" style="float:right">
                    <button OnClick=Registration style="font-family:'Courier New';font-weight:bold">Register</button>
                </div>
            </EditForm>
        </div>
    </div>
</body>
@code
{
    private string Email;
    private string Password;
    private string _resultMessage;
    private string _redirectUrl;
    protected override void OnInitialized()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
    }
    private async void Submit()
    {
        if (Email == "fbla@gmail.com" && Password == "fbla")
        {
            _resultMessage = "Login successful!";
            StateHasChanged();
            await Task.Delay(2000);
            NavigationManager.NavigateTo("/", forceLoad: true);
        }
        else if (Email == "fblagmail.com")
        {
            _resultMessage = "Incorrect email or password";
        }
        else
        {
            _resultMessage = "Account with specified email does not exist";
        }
        StateHasChanged();
    }
    private void Registration()
    {
        NavigationManager.NavigateTo("/register", forceLoad: true);
    }
}