section
{
    color: #A62639;
}
.form-outer
{
    padding: 10% 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
img
{
    width: 50%;
    margin: auto;
}
.form-label
{
    padding-top: 10%;
    font-weight: bold;
    border-color: #A62639;
}
.form-control
{
    outline: none;
}
form-check-input, .form-check-input:checked
{
    background-color: #A62639;
}
.form-check-input
{
    border-color: #A62639;
}
.form-error-message
{
    padding-top: 5%;
    font-style: italic;
    font-size: 14px;
}
.btn
{
    background-color: #A62639;
    color: white;
    min-width: 100px;
    width: 25%;
}