@page "/photos"
<NavMenu Title="@Title" />
<section/>
<section>
	<div class="d-flex flex-row">
		<div class="card" style="width: 18rem;">
			<img src="img/ambassadors.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">RWJ Safety Ambassadors</h5>
				<p class="card-text">Our Safety Ambassadors taught the students helmet safety, safety in & around cars, roads/traffic and safety on stairs.</p>
			</div>
		</div>
		<div class="card" style="width: 18rem;">
			<img src="img/dance.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Winter Ball</h5>
				<p class="card-text">Edison Academy Magnet School's Senior Class held their Winter Formal! Everyone dressed to impress and had a blast dancing the night away!</p>
			</div>
		</div>
		<div class="card" style="width: 18rem;">
			<img src="img/scioly.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Science Olympiad</h5>
				<p class="card-text">Science Olympiad team competed in the Union College Regional Tournament. Fifteen team members participated in 12 different events against teams from across Central Jersey. The team ranked 7th overall, qualifying for the state competition.</p>
			</div>
		</div>
		<div class="card" style="width: 18rem;">
			<img src="img/un.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Model UN</h5>
				<p class="card-text">Students participated in the second annual MCA Model United Nations Conference held in Middlesex College's Crabiel Hall. During the conference, students participated in 3 exciting committees on topics ranging from the social and civil unrest in the Central African Republic to the Titan takeover of Olympus.</p>
			</div>
		</div>
		<div class="card" style="width: 18rem;">
			<img src="img/njit.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">NJIT Tour</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			</div>
		</div>
	</div>
	<div style="margin-top:50px" class="d-flex justify-content-center">
		<a href="/about" style="margin-left:5%;margin-right:5%;width:100px;height:100px" class="btn mb-4">
			<span class="fa fa-solid fa-twitter" aria-hidden="true"></span>
		</a>
		<a href="/settings" style="margin-left:5%;margin-right:5%;width:100px;height:100px" class="btn mb-4">
			<span class="fa fa-solid fa-instagram" aria-hidden="true"></span>
		</a>
		<a href="/bugreport" style="margin-left:5%;margin-right:5%;width:100px;height:100px" class="btn mb-4">
			<span class="fa fa-solid fa-facebook" aria-hidden="true"></span>
		</a>
	</div>
</section>
<section/>
@code
{
	private string Title = "Photos";
}