.card {
    width: 18rem;
    margin: 1rem;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.card-text {
    font-size: 0.9rem;
    color: #777;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Number of lines to show before truncation */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.social {
    margin-left: 2%;
    margin-right: 2%;
}

.social-icon {
    color: #a62639;
    padding-bottom: 10px;
    width: 30px;
    height: 30px;
}

.post-button {
    background-color: #a62639;
    color: white;
    padding: 8px 16px;
    border-radius: 20px;
    text-decoration: none;
    margin: 5px;
}

.expanded-image-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.expanded-image {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.modal {
    min-width: 300px;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 9999;
}

.modal-body * {
    margin-top: 7px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}