.btn {
    background-color: #A62639;
    color: white;
    min-width: 100px;
    width: 10%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    margin-top: 2em;
    margin-bottom: 1em;
}

.grid-item {
    text-align: center;
}

@media (max-width: 400px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

.profile-container {
    margin-bottom: 2em;
    text-align: center;
}

.profile-image {
    width: 50%;
    max-width: 250px;
    border-radius: 50%;
}

.profile-details {
    margin-bottom: 1em;
    text-align: center;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.profile-details h4 {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}