@page "/register"
@inject NavigationManager NavigationManager;
@using System.Net
@using Microsoft.Extensions.Primitives
@using System.ComponentModel.DataAnnotations
@using System.Net.Http.Headers
@using EdUnity.Data
@code
{
	public enum AccountType
	{
		Student,
		Parent,
		Staff,
		Administrator
	}
	public class RegisterModel
	{
		public string FirstName { get; set; }
		public string LastName { get; set; }
		public string Email { get; set; }
		public string Password { get; set; }
		public AccountType Role { get; set; } = AccountType.Student;
		public bool Agreed { get; set; }
		public bool ModelsIsNull()
		{
			return !Agreed || FirstName == null || LastName == null || Email == null || Password == null;
		}
	}
}
<section>
	<div class="form-outer">
		<img src="img/edunity-transparent.png" />
		<EditForm Model="@Model" OnValidSubmit="@Submit">
			<DataAnnotationsValidator />
			<div>
				<label class="form-label">First Name</label>
				<div>
					<InputText type="text" class="form-control" placeholder="John" @bind-Value="Model.FirstName" />
				</div>
			</div>
			<div class="form-input">
				<label class="form-label">Last Name</label>
				<div>
					<InputText type="text" class="form-control" placeholder="Doe" @bind-Value="Model.LastName" />
				</div>
			</div>
			<div class="form-input">
				<label class="form-label">Role</label>
				<div>
					<InputSelectEnum class="form-select" @bind-Value="Model.Role" />
				</div>
			</div>
			<div class="form-input">
				<label class="form-label">Email</label>
				<div>
					<InputText type="email" class="form-control" placeholder="demo@edunity.org" @bind-Value="Model.Email" />
				</div>
			</div>
			<div class="form-input">
				<label class="form-label">Password</label>
				<div>
					<InputText type="password" class="form-control" placeholder="password" @bind-Value="Model.Password" />
				</div>
			</div>
			<ValidationSummary />
			@if (!String.IsNullOrEmpty(resultMessage))
			{
				<div class="form-error-message">@resultMessage</div>
			}
			<div class="row pt-4">
				<div class="col d-flex justify-content-center">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" @bind-value="Model.Agreed"/>
					</div>
					<label class="form-check-label">
						I accept the <a href="/terms-conditions">terms of use</a>
					</label>
				</div>
			</div>
			<div class="col d-flex justify-content-center">
				<button type="submit" class="btn my-4">Register</button>
			</div>
			<div class="text-center">
				<p>Already have an account? <a href="/login">Login</a></p>
			</div>
		</EditForm>
	</div>
</section>
@code
{
	private RegisterModel Model = new();
	private string resultMessage;
	private async void Submit()
	{
		if (Model.ModelsIsNull()) resultMessage = "Please enter valid credentials!";
		else
		{
			resultMessage = "Your credentials will be verified and authorized shortly. Please check back in 24-72 hours!";
			StateHasChanged();
			await Task.Delay(2500);
			NavigationManager.NavigateTo("/login");
		}
		StateHasChanged();
	}
}