@page "/terms-conditions/{returnurl}"
@inject NavigationManager NavigationManager;
<NavMenu Title="@Title" />
<section />
<section style="margin:0 20px 150px 20px">
	<p>
		Welcome to the EdUnity Mobile Application, which is owned and operated by Middlesex
		County Academy. EdUnity is intended to help parents and the community stay up-to-date
		with important information and upcoming events related to the School. By using EdUnity, you
		agree to the following terms and conditions:
	</p>
	<ol>
		<li>
			<p>
				<strong>Use of the App:</strong> EdUnity is intended for use by parents,students, teachers, and
				community members associated with the School. The School reserves the right to
				restrict access to EdUnity as it deems appropriate.
			</p>
		</li>
		<li>
			<p>
				<strong>User Accounts:</strong> In order to use certain features of EdUnity, you may need to create a
				user account. You are responsible for maintaining the confidentiality of your user
				account information, including your password. You agree to notify the School
				immediately of any unauthorized use of your account or password.
			</p>
		</li>
		<li>
			<p>
				<strong>Content:</strong> EdUnity may allow users to post photos andother content related to the
				School. You are solely responsible for the content that you post on EdUnity, and you
				agree not to post any content that is unlawful, harmful, threatening, abusive,
				harassing, defamatory, vulgar, obscene, or otherwise objectionable.
			</p>
		</li>
		<li>
			<p>
				<strong>Notifications:</strong> EdUnity includes a way for parentsto notify the School of student
				absences. You agree to use this feature only to report legitimate absences and not to
				abuse or misuse it in any way.
			</p>
		</li>
		<li>
			<p>
				<strong>Ownership:</strong> EdUnity and all content and materials containedtherein are owned by the
				School or its licensors and are protected by intellectual property laws. You may not use
				EdUnity or any content or materials contained therein for any commercial purpose
				without the School&#39;s prior written consent.
			</p>
		</li>
		<li>
			<p>
				<strong>Disclaimers:</strong> The School makes no representations orwarranties of any kind, express
				or implied, regarding EdUnity or any content or materials contained therein. EdUnityis
				provided on an &quot;as is&quot; and &quot;as available&quot; basis, and your use of EdUnity is at your own
				risk.
			</p>
		</li>
		<li>
			<p>
				<strong>Limitation of Liability:</strong> The School shall not be liable for any damages of any kind
				arising out of or in connection with your use of EdUnity, including but not limited to
				direct, indirect, incidental, punitive, and consequential damages.
			</p>
		</li>
		<li>
			<p>
				<strong>Governing Law:</strong> These terms and conditions shall begoverned by and construed in
				accordance with the laws of the state or province where the School is located, without
				giving effect to any principles of conflicts of law.
			</p>
		</li>
		<li>
			<p>
				<strong>Modification:</strong> The School reserves the right to modifythese terms and conditions at
				any time without prior notice. Your continued use of EdUnity aer any such
				modifications shall constitute your acceptance of the modified terms and conditions.
			</p>
		</li>
	</ol>
	<p>
		By using the EdUnity Mobile Application, you acknowledge that you have read and
		agree to these terms and conditions. If you do not agree to these terms and conditions,
		you may not use EdUnity.
	</p>
	<div class="col d-flex justify-content-center">
		<a href="@returnurl" class="btn my-4" style="background-color: #a62639; color: white; border: none;">← Back</a>
	</div>
</section>
<section/>
@code
{
	private string Title = "T&Cs";
	[Parameter] public string returnurl { get; set; }
}