.page
{
    position: relative;
    display: flex;
    flex-direction: column;
}
main
{
    flex: 1;
}
.sidebar
{
    background-color: #A62639;
}
.top-row
{
    background-color: #A62639;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}
.top-row ::deep a, .top-row ::deep .btn-link
{
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
}
.top-row ::deep a:hover, .top-row ::deep .btn-link:hover
{
    text-decoration: underline;
}
.top-row ::deep a:first-child
{
    overflow: hidden;
    text-overflow: ellipsis;
}