<div class="@NavMenuCssClass">
	<nav class="navbar navbar-dark fixed-bottom">
		<div class="container-fluid" style="margin-left:10%;margin-right:10%">
			<div class="nav-item">
				<NavLink class="nav-link" href="profile" Match="NavLinkMatch.All">
					<span class="oi oi-person" aria-hidden="true"></span>
				</NavLink>
			</div>
			<div class="nav-item">
				<NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
					<span class="oi oi-home" aria-hidden="true"></span>
				</NavLink>
			</div>
			<div class="nav-item">
				<NavLink class="nav-link" href="calendar" Match="NavLinkMatch.All">
					<span class="oi oi-calendar" aria-hidden="true"></span>
				</NavLink>
			</div>
			<div class="nav-item">
				<NavLink class="nav-link" href="photos" Match="NavLinkMatch.All">
					<span class="oi oi-image" aria-hidden="true"></span>
				</NavLink>
			</div>
			<div class="nav-item">
				<NavLink class="nav-link" href="athletics" Match="NavLinkMatch.All">
					<span class="oi oi-sun" aria-hidden="true"></span>
				</NavLink>
			</div>
			<div class="nav-item">
				<NavLink class="nav-link" href="gradebook" Match="NavLinkMatch.All">
					<span class="oi oi-book" aria-hidden="true"></span>
				</NavLink>
			</div>
			<div class="nav-item">
				<NavLink class="nav-link" href="transportation" Match="NavLinkMatch.All">
					<span class="oi oi-map-marker" aria-hidden="true"></span>
				</NavLink>
			</div>
			<div class="nav-item">
				<NavLink class="nav-link" href="contact" Match="NavLinkMatch.All">
					<span class="oi oi-chat" aria-hidden="true"></span>
				</NavLink>
			</div>
		</div>
	</nav>
</div>
@code
{
	private static bool collapseNavMenu = true;
	private static string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
	public static void ToggleNavMenu() { collapseNavMenu = !collapseNavMenu; }
}
