<div class="@NavMenuCssClass top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand navbar-top" href="/home">
			<img src="img/edunity-transparent.png" alt="EdUnity" style="height:50px"/>
		</a>
		<a class="navbar-toggler" href="profile">
			<span class="oi oi-person"></span>
		</a>
	</div>
</div>

<div class="@NavMenuCssClass">
	<nav class="navbar navbar-dark fixed-bottom">
		<div class="container-fluid" style="margin-left:10%;margin-right:10%">
			<div class="nav-item">
				<NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
					<span class="fa fa-solid fa-house" aria-hidden="true"></span>
				</NavLink>
			</div>
			<div class="nav-item">
				<NavLink class="nav-link" href="calendar" Match="NavLinkMatch.All">
					<span class="fa fa-solid fa-calendar-days" aria-hidden="true"></span>
				</NavLink>
			</div>
			<div class="nav-item">
				<NavLink class="nav-link" href="photos" Match="NavLinkMatch.All">
					<span class="fa fa-solid fa-image" aria-hidden="true"></span>
				</NavLink>
			</div>
			<div class="nav-item">
				<NavLink class="nav-link" href="athletics" Match="NavLinkMatch.All">
					<span class="fa fa-solid fa-football" aria-hidden="true"></span>
				</NavLink>
			</div>
			<div class="nav-item">
				<NavLink class="nav-link" href="gradebook" Match="NavLinkMatch.All">
					<span class="fa fa-solid fa-graduation-cap" aria-hidden="true"></span>
				</NavLink>
			</div>
			<div class="nav-item">
				<NavLink class="nav-link" href="transportation" Match="NavLinkMatch.All">
					<span class="fa fa-solid fa-car" aria-hidden="true"></span>
				</NavLink>
			</div>
		</div>
	</nav>
</div>
@code
{
	private static bool collapseNavMenu = true;
	private static string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
	public static void ToggleNavMenu() { collapseNavMenu = !collapseNavMenu; }
}
